<html>
    <head>
        <style>
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
     <p>Hello {{name}}, this is your statistics update for the week!</p>
     <h3>Quizzes Done</h3>
     <p>
         You have not done any quizzes this week! For your continued improvement, we encourage you to do daily quizzes.
         </p>
     <h3>Improvements</h3>
     <h3>Analytics</h3>
    </body>
</html>